In [16]:
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv('AB_NYC_2019.csv')

# Get the names of columns
column_names = df.columns

# Print the column names
print("Column Names:")
for column in column_names:
    print(column)

Column Names:
id
name
host_id
host_name
neighbourhood_group
neighbourhood
latitude
longitude
room_type
price
minimum_nights
number_of_reviews
last_review
reviews_per_month
calculated_host_listings_count
availability_365

In [17]:
import pandas as pd

# Load the dataset
file_path = 'AB_NYC_2019.csv'
df = pd.read_csv(file_path)

In [18]:
# Data Integrity
# Check data types
print(df.dtypes)

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

In [19]:

# Check for outliers
# For simplicity, you can use describe() to get basic statistics
print(df.describe())

                 id       host_id      latitude     longitude         price  \
count  4.889500e+04  4.889500e+04  48895.000000  48895.000000  48895.000000
mean   1.901714e+07  6.762001e+07     40.728949    -73.952170    152.720687
std    1.098311e+07  7.861097e+07      0.054530      0.046157    240.154170
min    2.539000e+03  2.438000e+03     40.499790    -74.244420      0.000000
25%    9.471945e+06  7.822033e+06     40.690100    -73.983070     69.000000
50%    1.967728e+07  3.079382e+07     40.723070    -73.955680    106.000000
75%    2.915218e+07  1.074344e+08     40.763115    -73.936275    175.000000
max    3.648724e+07  2.743213e+08     40.913060    -73.712990  10000.000000

       minimum_nights  number_of_reviews  reviews_per_month  \
count    48895.000000       48895.000000       38843.000000
mean         7.029962          23.274466           1.373221
std         20.510550          44.550582           1.680442
min          1.000000           0.000000           0.010000
25%          1.000000           1.000000           0.190000
50%          3.000000           5.000000           0.720000
75%          5.000000          24.000000           2.020000
max       1250.000000         629.000000          58.500000

       calculated_host_listings_count  availability_365
count                    48895.000000      48895.000000
mean                         7.143982        112.781327
std                         32.952519        131.622289
min                          1.000000          0.000000
25%                          1.000000          0.000000
50%                          1.000000         45.000000
75%                          2.000000        227.000000
max                        327.000000        365.000000

In [20]:

# Missing Data Handling
# Identify columns with missing values
missing_values = df.isnull().sum()
print("Missing values:\n", missing_values)

Missing values:
 id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [21]:
# Decide on a strategy for handling missing values
# For example, impute with the mean for numerical columns
df['reviews_per_month'].fillna(df['reviews_per_month'].mean(), inplace=True)

In [22]:
# Duplicate Removal
# Identify and remove duplicates based on 'id'
df.drop_duplicates(subset='id', keep='first', inplace=True)

In [23]:
# Standardization
# Convert 'name' column to uppercase
df['name'] = df['name'].str.upper()

In [24]:
# Outlier Detection
# Identify and handle outliers using z-scores
from scipy.stats import zscore

z_scores = zscore(df[['price', 'minimum_nights', 'number_of_reviews', 'reviews_per_month']])
abs_z_scores = abs(z_scores)
outliers = (abs_z_scores > 3).all(axis=1)
df = df[~outliers]

# Specify the path for saving the cleaned dataset
save_path = r'C:\Users\Admin\Desktop\oasis\day2\task1\cleaned_dataset.csv'

# Save the cleaned dataset to the specified location
df.to_csv(save_path, index=False)